<p>
  <strong>Name:</strong>
  <%= current_user.name %><br/>
  <%= current_user.email %><br/>
</p>
<br>


<br>
<p>edit or delete user</p>

<%= link_to 'Edit', edit_session_user_path(session, @user) %> |
<%= link_to 'Delete', session_user_path(session, @user), :data => {:method => "delete"} %>
